<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">UPS Authentication System</h1>
            <h3 class="mb-5">   
                <em>¡Por tiempo limitado!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/notes">
                Ir a mis notas
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>