<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 shadowtext">Sistema de Autenticación</h1>
            <h3 class="mb-5 shadowtextl">   
                <em>Calidad de Software</em>
            </h3>
            <a class="btn btn-primary btn-lg shadow-sm addradius" href="/notes">
                Ir a mi perfil
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>