{{#if error }}
  <div class="alert alert-warning alert-dismissible fade show addradiusalt my-2 shadow-sm" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-warning alert-dismissible fade show my-0  mt-2 addradiusalt shadow-sm" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
  </div>
{{/each}}
