<div class="container pt-5 mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 mx-auto ">
      
      <div class="card shadow-sm mt-7 mb-5 pb-3 addradius  ">  
        <div class="card-body px-5">
          <h1 class="h3 py-3 text-center">
            Recuperar Contraseña
          </h1>


          <form action="/users/signin" method="POST">

            <div class="form-group  mb-2">
              <p class="text-left mb-1">CORREO ELECTRÓNICO</p>
              <input type="email" class="form-control shadow-sm addradius" name="email"  value="{{email}}">
            </div>

        

    
            <button class="btn shadow-sm yButton btn-lg btn-block mt-3">
              Continuar
            </button>


            <div class="text-center">
            <label class="mt-4">
            <a class="link h5 " href="/users/signin">Volver al inicio</a>
            </label>
            </div>
            
          </form>
            
        </div>
      </div>
    </div>
  </div>
</div>